@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Roboto:wght@100;300;500;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Outfit', sans-serif;
  font-family: 'Roboto', sans-serif;
  /* background: rgb(208,229,255);
  background: linear-gradient(130deg, rgba(208,229,255,1) 0%, rgba(143,151,255,1) 35%, rgba(67,109,255,1) 100%); */
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
  /* background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%); */
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  color: white;
}

.container {
  max-width: 1400px;
}

.header {
  z-index: 999;
  margin-bottom: 40px;
}

.header::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: rgb(208,229,255);
  background: linear-gradient(130deg, rgba(208,229,255,0.01) 0%, rgba(143,151,255,0.07) 35%, rgba(67,109,255,0.19) 100%);
}

.header img {
  padding-top: 5px;
  width: 150px;
}

.header_menu ul {
  float: right;
}

.header_menu ul li {
  display: inline-block;
  padding: 5px 20px;
  margin-top: 15px;
}

.header_menu ul li a {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.header_menu ul li a:hover {
  /* color: #501cd3; */
  color: #080705;
}

.header_menu ul li a.menu_ativo {
  /* color: #ffa693; */
  color: #FAA828;
}

.header_menu ul li a.menu_ativo:hover {
  color: #080705;
}

.formulario {
  color: white;
}

.formFormulario label,
.formFormulario button {
  display: block;
  margin-top: 10px;
}

.formFormulario input {
  margin-top: 10px;
  width: 90%;
  height: 30px;
}

.select {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  display: block;
  width: 90%;
  height: 30px;
  padding: 5px;
}

.select:last-child {
  margin-bottom: 20px;
}

/* REMOVE SETA SELETORA DO INPUT */
input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.formFormulario option {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn {
  width: 151px;
  height: 40px;
  cursor: pointer;
}

.btnDireita {
  margin-bottom: 5px;
}

.codigoGerado {
  display: inline-block;
  /* background-color: blue; */
  height: 400px;
  width: 580px;
}

.codigoGerado textarea {
  padding: 10px 10px;
  font-size: 14px;
}

#scriptOLT {
  height: 330px;
  width: 580px;
}

.dadosTable {
  overflow: hidden;
  height: 500px;
}

#myChart{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 700px !important;
  width: 100% !important;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #0B5384;
}

.footer .container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.copy .grid-12{
  margin: 0;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

#chart {
  font-family: 'Poppins', sans-serif;
  max-width: 760px;
  margin: 35px auto;
  opacity: 0.9;
}

#timeline-chart .apexcharts-toolbar {
  opacity: 1;
  border: 0;
}