table, tr, td {
    padding: 5px 5px;
}

table {
    width: 100%;
}

tr {
    text-align: center;
    color: white;
}

tr:hover {
    background-color: #4C6FFD !important;
}

/* td {
    border: 1px solid;
} */

.titulo {
    text-align: center;
    font-weight: bold;
    height: 50px;
    color: white;
    background-color: #00197D;
}

.info {
    background-color: #25377DAA;
}

.info2 {
    background-color: rgba(115, 168, 204, 0.5) !important;
}

button {
    padding: 0 !important;
    margin: 2px auto !important;
    background-image: url('../img/manutencao.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

/* .img-manutencao {
    width: 32px;
    height: 32px;
} */